{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}
{{#is "page"}}
{{!-- Everything inside the #about tags pulls data from the about --}}

{{!-- The main content area --}}
<main id="site-main" class="site-main about">
    <div class="about">
        <a class="asap-header" href="{{@site.url}}">
            A$AP'S FABLES
        </a>
    </div>

    <div class="who-we-are">
        <h2 class="header">Who we are</h2>
        <div class="copy">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                tempor incididunt ut labore et dolore magna aliqua. Adipiscing commodo 
                elit at imperdiet. Adipiscing elit duis tristique sollicitudin nibh sit amet 
                commodo. Tempus egestas sed sed risus. Fermentum leo vel orci porta non. 
                Lorem ipsum dolor sit amet adipiscing elit. Lacus suspendisse faucibus 
                interdum posuere.
            </p>
        </div>
    </div>

    <div class="mission">
        <h2 class="header">Our Mission</h2>
        <div class="copy">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                tempor incididunt ut labore et dolore magna aliqua. Adipiscing commodo 
                elit at imperdiet. Adipiscing elit duis tristique sollicitudin nibh sit amet 
                commodo. Tempus egestas sed sed risus. Fermentum leo vel orci porta 
                non. Lorem ipsum dolor sit amet adipiscing elit. Lacus suspendisse faucibus 
                interdum posuere.
            </p>
            <p>
                Eu mi bibendum neque egestas congue quisque. Egestas sed sed risus 
                pretium vulputate dignissim suspendisse in. Non enim praesent elementum 
                facilisis. Urnavolutpat lacus laoreet non. Nulla facilisi cras fermentum odio 
                eu feugiat pretium. Molestie nunc non blandit massa enim nec dui nunc 
                mattis. Nisi est sit amet facilisis. Facilisi etiam dignissim diam quis.
            </p>
        </div>
    </div>

</main>
{{/is}}